* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* 1 */

.nav-bg {
    background-color: #0000007b;
}

#tools {
    list-style: none;
    font-size: 22px;
    display: flex;
    gap: 30px;

}

#tools a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.a {
    /* width: 160px; */
    height: 50px;
}

/* 1 */
#head {
    width: 100%;
    height: 90vh;
    background: url(./images/hh1.png) no-repeat center /cover fixed;
    position: relative;
}

.head-tittlegs {
    color: #e73115;
}

.head-title {
    width: 500px;
    font-size: 120px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 250px;
    left: 200px;
}

.head-p {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 430px;
    left: 214px;
}

#head-animations {
    height: 100%;
    gap: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 20px;
    margin-left: 200px;
    margin-right: 50px;
}

.head-animation img {

    width: 250px;
    height: 84vh;
    background-color: #ffffff00;
    /* margin-bottom: 20px; */
    object-fit: cover;
    border-radius: 500px;
    transition: all 0.2s linear;
}


.head-animation img:hover {
    /* transform:scaleY(1,2) ; */
    height: 90vh;
    border-radius: 0px;
    transition: all 0.2s ease-in-out;
}

/* 1 */
#fg1 {
    width: 100%;
    height: 10vh;
    background: #151515;
    overflow: hidden;
    z-index: 999;
}

.icon li {
    background: url(./images/logo.png) no-repeat center center /contain;
    min-width: 200px;
    margin: 10px 5px;
    padding-top: 100px;
    list-style: none;
}

.icons {
    height: 90px;
    display: flex;
    align-items: center;
    animation: animation1 13s linear infinite;
    /* position: relative; */
    /* width: 100%; */
}

.icon {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}


@keyframes animation1 {
    100% {
        transform: translateX(-100%);
    }
}

/* 1 */
#me {
    overflow: hidden;
    width: 100%;
    height: 125vh;
    background: #2b9795;
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & .imgs>img {
        position: absolute;
        width: 500px;
    }
}



.metxt {
    font-size: 27px;
    font-weight: bold;
    line-height: 1.6;

    background: #fff;
    box-shadow: 2px 3px 15px #000a;
    width: 650px;
    height: 650px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    padding-left: 70px;
    position: relative;


    &::after {
        content: "";
        inset: -40px;
        border-radius: 50%;
        border: 8px solid #;
        border-top-color: transparent;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: circle 4s linear infinite;
    }

    &::before {
        content: "";
        inset: -100px;
        border-radius: 50%;
        border: 30px solid #e64d36;
        border-top-color: transparent;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: circle 2s linear infinite;
        animation-direction: reverse;
    }
}

@keyframes circle {
    to {
        transform: rotate(360deg);
    }
}

.me-title {
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
    margin: 0;

}

.txtgd1 {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 20px;

}

.txtp1 {
    font-size: 22px;
    color: #000000;
}


.bggs1-1 {
    left: 0;
    bottom: 0;
    filter: drop-shadow(-10px 10px 5px rgba(8, 108, 91, 0.667));
}

.bggs1-2 {
    top: 0;
    right: 0;
    filter: drop-shadow(10px -10px 5px rgba(8, 108, 91, 0.667));
}

.left-bottom,
.left-bottom2,
.left-bottom3,
.right-top,
.right-top2,
.right-top3 {
    z-index: 2;
    width: 700px;
    height: 700px;
    position: absolute;
    bottom: 0;
    left: 0;
    /* border: 1px solid red; */
    animation: 3s img-rotate infinite linear;
    transform-origin: center;
    transform: translate(-50%, 45%) rotate(-55deg);

    & img {
        position: absolute;
        top: 0;
        right: 0;
        width: 150px;
        height: 150px;
    }
}

.right-top,
.right-top2,
.right-top3 {
    bottom: 100%;
    left: 100%;
    animation: 3s img-rotate2 infinite linear;
    transform: translate(-50%, 55%) rotate(-130deg);
}

.left-bottom2,
.right-top2 {
    animation-delay: 1s;
}

.left-bottom3,
.right-top3 {
    animation-delay: 2s;
}

@keyframes img-rotate {
    to {
        transform: translate(-50%, 50%) rotate(80deg);
    }
}

@keyframes img-rotate2 {
    to {
        transform: translate(-50%, 50%) rotate(-250deg);
    }
}

/* 1 */
#hd {
    width: 100%;
    min-height: 80vh;
    background: url(./images/hdbg.png) no-repeat center/cover fixed;
}

.hd {
    font-size: 26px;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#hdbt {
    position: relative;
    gap: 20px;
    top: 50px;
    left: 190px;
    display: flex;
    flex-direction: column
}

/* #hdbt button {
    border-radius: 40px;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    background-color: #2b9795;
    color: aliceblue;
    padding: 10px 15px;
    z-index: 1;
    cursor: pointer;
} */

/* #hdbt button::before {
    border-radius: 40px;
    
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#e64d36;
    transform: scaleX(0);
    transition: transform 400ms;
    transform-origin: right;
    
} */
/* 
#hdbt button:hover::before {
    transform-origin: left;
    transform: scaleX(1);
} */

#hdbt button {
    width: 160px;
    height: 72px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50px;
    text-shadow: 2px 2px #3408088e;

    /* display: block; */
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    color: #ffffff;
    background-color: #2b9795;
    border: 2.5px solid #340808e4;
    transition: all 0.3s linear;
}

#hdbt button:hover {
    background-color: #e64d36;
    color: #ffffff;
}

#hdimg {
    width: 400px;
    height: 650px;
    background-color: #fff;
    border-radius: 500px;
    margin-top: 40px;
}

.hdpt {
    width: 350px;
    height: 650px;
    background-color: #ffffff;
    margin-top: 70px;
    margin-left: -35px;
    border-radius: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-position: top center;

}


.hdt h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hdt {
    position: relative;
    bottom: 35px;
}

.hdtall {
    position: relative;
    left: 50px;
    top: 40px;
}

/* 1 */
#fg2 {
    width: 100%;
    height: 9vh;
    background: #ffffff;
    position: relative;
}

.bggs8 {
    height: 350px;
    position: relative;
    bottom: 177px;
    left: 40px;
    z-index: 8;

}

.fg2icons {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    animation: animation2 8s linear infinite;
}

.fg2icon {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    min-width: 100%;
    height: 100%;
    padding: 0 10px;
}

.fg2icon li {
    /* min-width: calc(34% - 10px); */
    width: 100%;
    position: relative;
    background-size: cover;
    list-style: none;
    margin-top: 4px;
}

.fg2icon li {
    background-image: url(./images/logo2.png);
}


@keyframes animation2 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-0%);
    }
}

/* 1 */
#party {
    width: 100%;
    height: 150vh;
    background: #2b9795;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: fixed;
}

#party h1 {
    font-size: 72px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

#party h2 {
    font-size: 26px;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.party-img {
    width: 300px;
    border: 2.5px solid #000000;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 40px;
    margin-bottom: 10px;
    /* transition: all .3s linear; */
}

/* .party-img:hover {
    transform: scale(1.1);
} */

.wrap {
    width: 77%;
    min-height: 75vh;
    margin: 0 auto;
}

#party-cards {
    display: flex;
    gap: 45px;
    padding: 100px;
    background: #ffffff;
    border-radius: 40px;
}

.party-card {
    flex: 1 1 auto;

}


.party-card p {
    font-size: 18px;
    line-height: 1.8;
    margin: 20px 0;
}

.party-card button {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background: #e64d36;
    border-radius: 50px;
    border: 2.2px solid #000000;
    padding: 10px;
    cursor: pointer;

    gap: 20px;
    position: relative;
    left: 130px;
    top: 20px;
    transition: all 500ms;
}

.party-card button:hover {
    background: #2b9795;
}

#party .imgs>img {
    position: absolute;
    z-index: 6;
}


.bggs10 {
    width: 200px;
    top: 120px;
    left: -70px;
}


/* 商店 */
#shop {
    width: 100%;
    height: 60vh;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.shop-title {
    width: 300px;
    font-size: 72px;
    color: #e64d36;
    font-weight: bold;
    margin-bottom: 35px;
}

.shop-p {
    width: 600px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.8;
}

.shop-all {
    background: #e64d36;
    width: 450px;
    height: 450px;
    border-radius: 400px 400px 0 0;
}

.shops {
    width: 370px;
    height: 260px;
    border-radius: 300px 300px 0 0;
    overflow: hidden;
    margin-top: 40px;
    margin-left: 35px;
}

.shops img {
    width: 400px;
    margin-top: -25%;
    margin-left: -5%;
}

.shop-text {
    font-weight: bold;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-name {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0;
}

.shop-math {
    font-size: 20px;
}

.shop-button {
    display: flex;
    justify-content: center;
}

.shop-button input {
    width: 100px;
    margin: 0px 20px ;
}

.shop-button button {
    font-size: 25px;
    text-shadow: 1px 1px #000000;
    color: #fff;
    width: 40px;
    border:1.5px solid #000000;
    border-radius: 20px;
    background: #2b9795;
    transition: all 0.1s linear;
}
.shop-button button:hover {
    background: #257473;
   transition: all 0.1s linear;
}


/* 1 */
#end {
    width: 100%;
    height: 93vh;
    border-radius: 20px 20px 0 0;
    background: url(./images/end.png) center/cover fixed;
    position: relative;
}




@keyframes cd {
    100% {
        transform: rotate(360deg);
    }
}



.text-center {
    width: 1000px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    left: 500px;
    bottom: 6px
}

/* #footer p {
    width: 1000px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    left: 600px;
    bottom: 10px;
} */

/* .container {
    width: 40%;
    position: relative;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    display: flex;

} */

/* .accordion {
    margin-top: 20px;
} */

/* .accordion-title {
    font-size: 28px;
    font-weight: bold;
    background: #ffffff;
    padding: 15px 20px;
    border-radius: 4px;
    cursor: pointer;
} */

/* .accordion-text {
    font-size: 20px;
    overflow: hidden;
    background: #ffffff;
    transition: all .3s ease-in-out;
    height: 0;
    padding: 0 20px;
} */

/* .accordion-text.active {
    height: 200px;
    padding: 15px 20px;
} */



/* @media (width<1280px) {
    .bggs8{
        display: none;
    }
        響應式不要的移除
    
} */


/* 

.robot-click{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #e64d36;
    position: fixed;
    right: 30px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    z-index: 999;
}

.robot{
    width: 300px;
    height: 500px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    right: 110px;
    bottom: 100px;
    z-index: 999;
}
.robot-header,.robot-footer{
    padding: 3px 5px;
}
.robot-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e64d36;
    border-radius: 5px 5px 0 0;

}
.robot-body{
    width: 100%;
    flex: 1;
    padding: 20px 15px; 
}
.rob-1,.rob-2{
    background-color: #7bd2d1;
    padding: 10px;
    font-size: 17px;
    color: #000000;
    font-weight: bold;
    border-radius: 0 5px 5px 5px;
}
.rob-2{
    display: flex;
    /* justify-content: flex-end; */
/* align-items: center; */
/* border-radius:  5px 0 5px 5px;
    
} */