* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* 1 */

.nav-bg {
    background-color: #0000007b;
}

#tools {
    list-style: none;
    font-size: 22px;
    display: flex;
    gap: 30px;

}

#tools a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.a {
    /* width: 160px; */
    height: 50px;
}

/* 1 */
#head {
    width: 100%;
    height: 90vh;
    background: url(./images/hh1.png) no-repeat center /cover fixed;
    position: relative;
}

.head-tittlegs {
    color: #e73115;
}

.head-title {
    width: 500px;
    font-size: 120px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 250px;
    left: 200px;
}

.head-p {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 430px;
    left: 214px;
}

#head-animations {
    height: 100%;
    gap: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 20px;
    margin-left: 200px;
    margin-right: 50px;
}

.head-animation img {

    width: 250px;
    height: 84vh;
    background-color: #ffffff00;
    /* margin-bottom: 20px; */
    object-fit: cover;
    border-radius: 500px;
    transition: all 0.2s linear;
}


.head-animation img:hover {
    /* transform:scaleY(1,2) ; */
    height: 90vh;
    border-radius: 0px;
    transition: all 0.2s ease-in-out;
}

/* 1 */
#fg1 {
    width: 100%;
    height: 10vh;
    background: #151515;
    overflow: hidden;
    z-index: 999;
}

.icon li {
    background: url(./images/logo.png) no-repeat center center /contain;
    min-width: 200px;
    margin: 10px 5px;
    padding-top: 100px;
    list-style: none;
}

.icons {
    height: 90px;
    display: flex;
    align-items: center;
    animation: animation1 13s linear infinite;
    /* position: relative; */
    /* width: 100%; */
}

.icon {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.nav-item{
    display: flex;
}
.navbar-icon{
    margin-top: 10px;
    margin-left: 20px;
    width: 20px;
    height: 20px;
}

@keyframes animation1 {
    100% {
        transform: translateX(-100%);
    }
}

/* 1 */
#me {
    overflow: hidden;
    width: 100%;
    height: 125vh;
    background: #2b9795;
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & .imgs>img {
        position: absolute;
        width: 500px;
    }
}



.metxt {
    font-size: 27px;
    font-weight: bold;
    line-height: 1.6;

    background: #fff;
    box-shadow: 2px 3px 15px #000a;
    width: 650px;
    height: 650px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    padding-left: 70px;
    position: relative;


    &::after {
        content: "";
        inset: -40px;
        border-radius: 50%;
        border: 8px solid #;
        border-top-color: transparent;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: circle 4s linear infinite;
    }

    &::before {
        content: "";
        inset: -100px;
        border-radius: 50%;
        border: 30px solid #e64d36;
        border-top-color: transparent;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: circle 2s linear infinite;
        animation-direction: reverse;
    }
}

@keyframes circle {
    to {
        transform: rotate(360deg);
    }
}

.me-title {
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
    margin: 0;

}

.txtgd1 {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 20px;

}

.txtp1 {
    font-size: 22px;
    color: #000000;
}


.bggs1-1 {
    left: 0;
    bottom: 0;
    filter: drop-shadow(-10px 10px 5px rgba(8, 108, 91, 0.667));
}

.bggs1-2 {
    top: 0;
    right: 0;
    filter: drop-shadow(10px -10px 5px rgba(8, 108, 91, 0.667));
}

.left-bottom,
.left-bottom2,
.left-bottom3,
.right-top,
.right-top2,
.right-top3 {
    z-index: 2;
    width: 700px;
    height: 700px;
    position: absolute;
    bottom: 0;
    left: 0;
    /* border: 1px solid red; */
    animation: 3s img-rotate infinite linear;
    transform-origin: center;
    transform: translate(-50%, 45%) rotate(-55deg);

    & img {
        position: absolute;
        top: 0;
        right: 0;
        width: 150px;
        height: 150px;
    }
}

.right-top,
.right-top2,
.right-top3 {
    bottom: 100%;
    left: 100%;
    animation: 3s img-rotate2 infinite linear;
    transform: translate(-50%, 55%) rotate(-130deg);
}

.left-bottom2,
.right-top2 {
    animation-delay: 1s;
}

.left-bottom3,
.right-top3 {
    animation-delay: 2s;
}

@keyframes img-rotate {
    to {
        transform: translate(-50%, 50%) rotate(80deg);
    }
}

@keyframes img-rotate2 {
    to {
        transform: translate(-50%, 50%) rotate(-250deg);
    }
}

/* 1 */
#hd {
    width: 100%;
    min-height: 80vh;
    background: url(./images/hdbg.png) no-repeat center/cover fixed;
}

.hd {
    font-size: 26px;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#hdbt {
    position: relative;
    gap: 20px;
    top: 50px;
    left: 190px;
    display: flex;
    flex-direction: column
}

#hdbt button {
    width: 160px;
    height: 72px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50px;
    text-shadow: 2px 2px #3408088e;

    /* display: block; */
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    color: #ffffff;
    background-color: #2b9795;
    border: 2.3px solid #340808e4;
    transition: all 0.3s linear;
}

#hdbt button:hover {
    background-color: #e64d36;
    color: #ffffff;
}

#hdimg {
    width: 400px;
    height: 650px;
    background-color: #fff;
    border-radius: 500px;
    margin-top: 40px;
}

.hdpt {
    width: 350px;
    height: 650px;
    background-color: #ffffff;
    margin-top: 70px;
    margin-left: -35px;
    border-radius: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-position: top center;

}


.hdt h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hdt {
    position: relative;
    bottom: 35px;
}

.hdtall {
    position: relative;
    left: 50px;
    top: 40px;
}

/* 1 */
#fg2 {
    width: 100%;
    height: 9vh;
    background: #ffffff;
    position: relative;
}

.bggs8 {
    height: 350px;
    position: relative;
    bottom: 177px;
    left: 40px;
    z-index: 8;

}

.fg2icons {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    animation: animation2 8s linear infinite;
}

.fg2icon {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    min-width: 100%;
    height: 100%;
    padding: 0 10px;
}

.fg2icon li {
    width: 100%;
    position: relative;
    background-size: cover;
    list-style: none;
    margin-top: 4px;
}

.fg2icon li {
    background-image: url(./images/logo2.png);
}


@keyframes animation2 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-0%);
    }
}

/* 1 */
#party {
    width: 100%;
    height: 230vh;
    background: url(./images/partybgtest-2.png) no-repeat center/cover;

    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 130px;
    padding-left: 350px;
}

.party-bg {
    width: 850px;
    height: 60vh;
    background: #ffffff;
    border-radius: 25px;
    padding: 50px 100px;
}

.party-bg77 {
    width: 850px;
    height: 60vh;
    background: #ffffff;
    border-radius: 25px;
    padding: 45px 25px;
}

.party-bg hr {
    margin-top: 50px;
}

.party-card-title {
    margin: 20px;
}

.party-bgtext {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.9;
}


.party-bg1 {
    width: 400px;
    height: 60vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-left: 20px;
    padding: 20px;
}

.party-bggs1 {
    position: absolute;
    top: 800px;
    right: 1640px;
}

.party-bggs2 {
    position: absolute;
    top: 1450px;
    right: 340px;
}

.party-title {
    width: 400px;
    margin-left: 80px;
    margin-bottom: 30px;
}

.party1 {
    margin-bottom: 20px;
}

.party3 {
    margin-bottom: 20px;
}

.partypt1 img {
    width: 400px;
    display: flex;
    margin-left: 20px;
}

.partypt2 img {
    width: 400px;
    display: flex;
    margin-right: 20px;
}

.party-card {
    display: flex;
    padding-left: 0px;
    margin: 0 0 30px 0;
}

.party-smallcard {
    display: flex;

}

.party-bgg {
    display: flex;
}

.party-bggtext {
    margin-left: 10px;
    margin-top: 50px;
}

.party-bgg p {
    font-size: 18px;
    margin-left: 30px;
    line-height: 1.8;
    font-weight: bold;
}

.party-bggtext h1 {
    margin: 20px;

}

.party-bg1 img {
    margin-bottom: 40px;
}

.party-bg1 p {
    font-weight: bold;
    line-height: 1.8;
}

.tgb-img {
    animation: tgb 3s linear infinite;
}

@keyframes tgb {
    100% {
        transform: rotate(360deg);
    }
    
}
.tgb-img:hover{
    animation-play-state: paused;
}

/* 商店 */
#shop {
    width: 100%;
    height: 70vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.shop-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-title {
    width: 300px;
    font-size: 60px;
    color: #e64d36;
    font-weight: bold;
    margin-bottom: 40px;
    padding: 20px;
}

.shop-p {
    width: 600px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.8;
    display: flex;
    padding-left: 65px;
    margin-bottom: 40px;
    margin-left: 100px;
}

.total {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.shop-btn {
    font-weight: bold;
    background: #e64d36;
    color: #ffffff;
    width: 60px;
    border-radius: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    transition: all 500ms;
}

.shop-btn:hover {
    background: #257473;
    transition: all 500ms;
}

.shop-img {
    background: #c94935;
    width: 350px;
    height: 450px;
    border-radius: 400px 400px 0 0;
}



.shops img {
    width: 200px;
    margin-top: 20%;
    margin-left: 22%;
    border-radius: 400px 400px 0 0;
}

.shop-text {
    font-weight: bold;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-name {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0;
}

.shop-math {
    font-size: 20px;
}

.afew {
    text-align: center;
}


.shop-button {
    display: flex;
    justify-content: center;
}

.shop-button button {
    font-size: 20px;
    padding: 0 4px;
    background: #2b9795;
    color: #ffffff;
    border-radius: 100px;
}

.shop-button input {
    width: 100px;
    margin: 0px 20px;
}


.shop-obj {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 70px;
    padding: 20px;
}

@media (min-width:480px) {
    .shop-obj {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 1 */
#end {
    width: 100%;
    height: 70vh;
    border-radius: 20px 20px 0 0;
    background: url(./images/end.png) top/cover fixed;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.end-ball{
    position: absolute;
    top: 200px;
    left: 350px;
}
.end-ani{
  position: absolute;
  top: 160px;
  left: 310px;
  animation: endani 9s linear infinite;
}
@keyframes endani{
    100%{
     transform: rotate(360deg);
    }
}
.end-all{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.end-title{
    font-size: 50px;
    font-weight: bold;
}
.end-center{
    margin-top: 60px;
}
.end-center p{
    font-size: 20px;
}
.end-center input{
   width: 500px;
   height: 50px;
}
.end-bottom {
   margin-top: 20px;
}
.end-bottom p{
    font-size: 23px;
   display: flex;
   justify-content: end;
   padding-top: 30px;
}
.end-hr{
    height: 6px;
    opacity: 10;
}
.footer {
    height: 70px;
    background: #2b9795;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #footer p {
    width: 1000px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    left: 600px;
    bottom: 10px;
} */

/* .container {
    width: 40%;
    position: relative;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    display: flex;

} */

/* .accordion {
    margin-top: 20px;
} */

/* .accordion-title {
    font-size: 28px;
    font-weight: bold;
    background: #ffffff;
    padding: 15px 20px;
    border-radius: 4px;
    cursor: pointer;
} */

/* .accordion-text {
    font-size: 20px;
    overflow: hidden;
    background: #ffffff;
    transition: all .3s ease-in-out;
    height: 0;
    padding: 0 20px;
} */

/* .accordion-text.active {
    height: 200px;
    padding: 15px 20px;
} */



/* @media (width<1280px) {
    .bggs8{
        display: none;
    }
        響應式不要的移除
    
} */


/* 

.robot-click{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #e64d36;
    position: fixed;
    right: 30px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    z-index: 999;
}

.robot{
    width: 300px;
    height: 500px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    right: 110px;
    bottom: 100px;
    z-index: 999;
}
.robot-header,.robot-footer{
    padding: 3px 5px;
}
.robot-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e64d36;
    border-radius: 5px 5px 0 0;

}
.robot-body{
    width: 100%;
    flex: 1;
    padding: 20px 15px; 
}
.rob-1,.rob-2{
    background-color: #7bd2d1;
    padding: 10px;
    font-size: 17px;
    color: #000000;
    font-weight: bold;
    border-radius: 0 5px 5px 5px;
}
.rob-2{
    display: flex;
    /* justify-content: flex-end; */
/* align-items: center; */
/* border-radius:  5px 0 5px 5px;
    
} */